<template>
  <div class="footer-container">
     <div class="bg-footer">
        <div class="bg-footer-content">
          <p class="footer-title font-semibold">Want to work with us?</p>
          <div class="button-footer">
            <b-button class="btn-touch font-semibold" href="https://tiktok.ecomdymedia.com/register?refcode=68918">Get in touch with us</b-button>
            <p class="btn-text font-regular">to see how we can help you today.</p>
          </div>
        </div>
      </div>
    <b-row class="content-footer">
      <b-col lg="5" md="12" class="left-footer">
        <b-img
          class="logo-ecomdy"
          :src="require('@/assets/pages/landing-page-AU/footer/logo-ecomdy.svg')"
          alt="how to work?"
        />
        <b-card-text class="text-sub">
          Ecomdy Media - The best official TikTok Agency for Ecommerce.
        </b-card-text>

        <div class="review">
          <div class="trustpilot-logo">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.trustpilot.com/review/ecomdymedia.com"
            >
              <b-img
                :src="
                  require('@/assets/pages/landing-page-AU/footer/footer-truspilot.svg')
                "
                alt="logo"
              />
            </a>
          </div>
          <div class="TrustScore-logo">
            <div class="detail">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.trustpilot.com/review/ecomdymedia.com"
              >
                <b-img
                  :src="require('@/assets/pages/landing-page-AU/footer/star-footer.svg')"
                  alt="logo"
                />
                <b-img
                  :src="require('@/assets/pages/landing-page-AU/footer/star-footer.svg')"
                  alt="logo"
                />
                <b-img
                  :src="require('@/assets/pages/landing-page-AU/footer/star-footer.svg')"
                  alt="logo"
                />
                <b-img
                  :src="require('@/assets/pages/landing-page-AU/footer/star-footer.svg')"
                  alt="logo"
                />
                <b-img
                  :src="require('@/assets/pages/landing-page-AU/footer/star-footer.svg')"
                  alt="logo"
                />
              </a>
            </div>
            <div class="total-review">
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.trustpilot.com/review/ecomdymedia.com"
              >
                TrustScore <strong>5.0</strong>
              </a>
              <div class="line"></div>
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.trustpilot.com/review/ecomdymedia.com"
                ><strong>32,416</strong> reviews</a
              >
            </div>
          </div>
        </div>
      </b-col>
      <b-col lg="7" md="12" class="right-footer">
        <b-row class="right-content">
          <b-col sm="6" md="3" class="company">
            <b-card-text class="title-content"> Company </b-card-text>
            <ul>
              <li
                v-for="(item, index) in company"
                :key="index"
                class="item-footer"
              >
                <a class="address" href="#">{{ item }}</a>
              </li>
            </ul>
          </b-col>
          <b-col sm="6" md="3" class="resources">
            <b-card-text class="title-content"> Resources </b-card-text>
            <ul>
              <li
                v-for="(item, index) in resources"
                :key="index"
                class="item-footer"
              >
                <a class="address" href="#">
                  {{ item }}
                </a>
              </li>
            </ul>
          </b-col>
          <b-col sm="6" md="3" class="contactUs">
            <b-card-text class="title-content"> Contact us </b-card-text>
            <ul>
              <li
                v-for="(item, index) in contactUs"
                :key="index"
                class="item-footer"
              >
                <a class="address" href="#">
                  {{ item }}
                </a>
              </li>
            </ul>
          </b-col>
          <b-col sm="6" md="3" class="connectWithUs">
            <b-card-text class="title-content"> Connect with us </b-card-text>
            <ul>
              <li
                v-for="(item, index) in connectWithUs"
                :key="index"
                class="item-footer"
              >
                <a class="address" href="#">
                  {{ item }}
                </a>
              </li>
            </ul>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <div class="copyright">
      <div class="content-copyright">
        <b-card-text>
          Ecomdy Media © Copyright 2021, Inc. All rights reserved
        </b-card-text>
      </div>
      <div class="policy">
        <b-card-text class="item-policy">Terms of service</b-card-text>
        <b-card-text class="item-policy">Privacy policy</b-card-text>
      </div>
      <div class="contact">
        <ul class="list-contact-network">
          <li
            v-for="(item, index) in socialNetwork"
            :key="index"
            class="item-contact-network"
          >
            <b-img
              class="socialNetwork"
              :src="item"
              alt="logo social network"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import { BRow, BCol, BCardText, BImg } from 'bootstrap-vue'
import icFb from '@/assets/pages/landing-page-AU/footer/ic-fb.svg'
import icTwitch from '@/assets/pages/landing-page-AU/footer/ic-twitch.svg'
import icYouTube from '@/assets/pages/landing-page-AU/footer/ic-youtube.svg'
import icInsta from '@/assets/pages/landing-page-AU/footer/ic-insta.svg'
import icTiktok from '@/assets/pages/landing-page-AU/footer/ic-tiktok.svg'
export default {
  name: 'FooterPage',

  components: {
    BRow,
    BCol,
    BCardText,
    BImg,
  },

  data() {
    return {
      socialNetwork: [icFb, icTwitch, icYouTube, icInsta, icTiktok],
      company: [
        'About Us',
        'Term of use',
        'Privacy Policy',
        'Payment Policy',
        'Refund Policy',
        'Careers',
      ],
      resources: [
        'Product',
        'Plan & Pricing',
        'Partnership & Affiliate',
        'Blogs',
        'Creative Hub',
      ],
      contactUs: ['Help Center'],
      connectWithUs: [
        'WhatsApp',
        'Facebook',
        'Twitter',
        'Instagram',
        'Telegram',
        'Discord',
        'Reddit',
        'Medium ',
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.footer-container {
  overflow: hidden;
  color: #000;
  a {
    color: #000;
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
    }
  }
  .bg-footer {
    background-size: 100%;
    width: 100%;
    margin-top: 46px;
    padding-top: 25%;
    background: url('@/assets/pages/landing-page-AU/footer/bg-footer.png') top center /cover no-repeat;
    position: relative;
    @media screen and (max-width: 767px) {
      background: url('@/assets/pages/landing-page-AU/footer/bg-footer-mobile.png') top center /cover no-repeat;
      padding-top: 120%;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      padding-top: 50%;
    }
    .bg-footer-content {
      width: 100%;
      position: absolute;
      bottom: 30%;
      color: #fff;
      text-align: center;
      @media screen and (max-width: 767px) {
        margin: 0px 16px;
      }
      .footer-title {
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        @media screen and (max-width: 767px) {
          font-size: 48px;
          line-height: 56px;
        }
      }
      .button-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        @media screen and (max-width: 767px) {
          flex-direction: column;
        }
        .btn-touch {
          font-size: 18px;
          line-height: 28px;
          color: #fff;
          background-color: #E11C4E;
          border-color: #E11C4E;
          border-radius: 100px;
          margin-right: 20px;
          padding: 15px 25.5px;
          width: max-content;
          @media screen and (max-width: 767px) {
            margin:24px 0px;
          }
          &:hover {
            color: #E11C4E;
            background-color: transparent;
          }
        }
        .btn-text {

        }
      }
    }
  }
  .content-footer {
    padding: 54px 108px;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      padding: 54px 24px;
    }
    @media screen and (min-width: 1537px) {
      padding: 54px 300px;
    }

    .left-footer {
      a {
        text-decoration: none;
      }
      .logo-ecomdy {
        margin-bottom: 20px;
      }

      .text-sub {
        margin-bottom: 74px;
      }

      .logo-partner {
        margin-bottom: 40px;
      }

      .review {
        color: #000;
        .trustpilot-logo {
          margin-bottom: 16px;
        }

        .TrustScore-logo {
          display: flex;
          font-size: 20px;
          justify-content: start;
          @media screen and (max-width: 767px) {
            flex-direction: column;
          }
          .detail {
            display: flex;
            align-items: center;
            margin-right: 12px;
            img {
              margin-right: 5px;
            }
          }
          .total-review {
            display: flex;
            align-items: center;
            margin-top: 0.5rem;
            p {
              margin: 0;
            }

            a {
              font-size: 16px;
            }

            .line {
              margin: 0 10px;
              width: 2px;
              background-color: #000;
              height: 20px;
            }
          }
        }
      }

      @media screen and (max-width: 991px) {
        margin-bottom: 52px;
      }
    }
    .right-footer {
      display: flex;
      padding-left: 5rem;

      .right-content {
        width: 100%;
        display: flex;
        .company, .resources, .contactUs, .connectWithUs {
          width: 50%;
        }
      }

      .title-content {
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 16px;
        font-weight: bold;
      }

      .item-footer {
        .address {
          display: inline-block;
          background: white;
          color: #000;
          position: relative;
          text-decoration: none;
          &:hover {
            color: black;
          }
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            bottom: 0;
            left: 0;
            background-color: #000;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
          &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }

      ul {
        padding: 0;

        li {
          margin-bottom: 20px;
          list-style-type: none;
          cursor: pointer;
        }
      }

      @media screen and (max-width: 991px) {
        padding: 0;
      }
    }

    @media screen and (max-width: 991px) {
      padding: 24px 34px;
    }
  }

  .copyright {
    padding: 22px 108px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(248, 248, 249, 1);
    @media screen and (min-width: 768px) and (max-width: 991px) {
      padding: 22px 24px;
    }
    @media screen and (min-width: 1537px) {
      padding: 22px 300px;
    }

    .content-copyright {
    }

    .policy {
      display: flex;
      .item-policy {
        cursor: pointer;
        margin-left: 20px;
        margin-bottom: 0;

        @media screen and (max-width: 991px) {
          margin: 0 20px;
        }

        @media screen and (max-width: 767px) {
          margin-left: 5px;
        }
      }
      @media screen and (max-width: 991px) {
        margin: 24px 0px;
      }
    }

    .contact {
      .list-contact-network {
        display: flex;
        margin-bottom: 0;
        .item-contact-network {
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }

    @media screen and(max-width: 991px) {
      flex-direction: column;
    }

    @media screen and (max-width: 767px) {
      padding: 24px 34px;
      text-align: center;
    }
  }
}
</style>
