<template>
  <div class="header-top">
    <div class="header-top-pc">
      <div class="header-logo">
        <b-img
          src="@/assets/pages/landing-page-AU/logo/ecomdy-media.svg"
          fluid
        />
      </div>
      <div class="header-right">
        <button class="btn btn-login">Login</button>
        <button class="btn btn-join">Join now</button>
      </div>
    </div>
    <div class="header-top-mobile">
      <div class="header-logo">
        <b-img
          class="logo-ecomdy"
          src="@/assets/pages/landing-page-AU/logo/ecomdy-media-partner.svg"
          fluid
        />
        <b-img
          class="logo-ecomdy"
          src="@/assets/pages/landing-page-AU/icons/icon-menu.svg"
          fluid
        />
      </div>
      <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.1);">
      <b-img
          src="@/assets/pages/landing-page-AU/logo/tiktok.svg"
          fluid
        />
    </div>
  </div>
</template>
<script>
import { BImg } from 'bootstrap-vue'
export default {
  name: 'HeaderTop',
  components: {
    BImg,
  },
}
</script>
<style lang="scss" scoped>
  .header-top-mobile {
      display: none;
    }
  .header-top-pc {
    padding: 37px 108px 0px;
    display: flex;
    justify-content: space-between;
    .header-logo {

    }
    .header-right {
      .btn {
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        padding: 9px 34.5px;
        border-radius: 100px;
        gap: 10px;
      }
      .btn-login {
      }
      .btn-join {
        background-color: #353535;
      }
    }
  }

  @media(max-width: 740px){/*739px*/
    .header-top-pc {
      display: none;
    }
    .header-top-mobile {
      display: block;
      padding: 29px 16px 0px;
      .header-logo {
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 0px;
        gap: 15px;
      }
    }
}
</style>
