<template>
  <div class="marketing">
    <b-row class="marketing-title">
      <b-col cols="12" lg="5">
        <b-img
          class="marketing-img"
          src="@/assets/pages/landing-page-AU/marketing-partner/logo-marketing.svg"
          fluid
        />
      </b-col>
      <b-col cols="12" lg="6" class="img-text">Software support: TikTok Ecomdy Media platform</b-col>
    </b-row>
    <b-row class="marketing-content">
      <b-col
        v-for="(data, index) in listMarketing" :key="index" cols="12"
        md="6"
        lg="4"
        class="marketing-description"
      >
        <b-img
          style="max-width: 120px; max-height: 120px"
          :src="data.img"
          fluid
        />
        <p class="img-text font-semibold">{{data.text}}</p>
      </b-col>
    </b-row>
    <b-row class="marketing-video">
      <iframe
        width="100%" height="100%"
        class="video"
        src="https://www.youtube.com/embed/jE3fzFFoHdQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </b-row>
  </div>
</template>
<script>
export default {
  name: 'MarketingPartner',
  components: {

  },
  data() {
    return {
      listMarketing: [
        {img: require('@/assets/pages/landing-page-AU/marketing-partner/logo-Automatic.svg'), text: 'Automatic top-up amount'},
        {img: require('@/assets/pages/landing-page-AU/marketing-partner/logo-account.svg'), text: 'Ad account management platform.'},
        {img: require('@/assets/pages/landing-page-AU/marketing-partner/logo-support.svg'), text: 'Receive support directly from TikTok and Ecomdy'},
        {img: require('@/assets/pages/landing-page-AU/marketing-partner/logo-payment.svg'), text: 'Multiple payment methods: Payoneer, Credit Card, BUSD, USDT'},
        {img: require('@/assets/pages/landing-page-AU/marketing-partner/logo-partner.svg'), text: 'Trusted by partners and thounsands of people'},
        {img: require('@/assets/pages/landing-page-AU/marketing-partner/logo-technical.svg'), text: 'Quick technical support'},
      ]
    }
  },
}
</script>
<style lang="scss" scoped>
.marketing {
  background-color: #000;
  background-size: 100%;
  height: auto;
  color: #fff;
  .marketing-title {
    padding: 95px 108px 0px;
    display: flex;
    @media screen and (max-width: 767px) {
      padding: 61px 16px 0px;
      flex-direction: column;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      padding: 95px 24px 0px;
      flex-direction: column;
    }
    @media screen and (min-width: 1537px) {
      padding: 95px 300px 0px;
    }
    .marketing-img {
      max-width: 375.23px;
      max-height: 103px;
      margin-right: 173px;
       @media screen and (max-width: 767px) {
          max-width: 262.3px;
          max-height: 72px;
          margin-right: 0px;
       }
    }
    .img-text {
      font-size: 40px;
      line-height: 48px;
      @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 32px;
        margin-top: 28px;
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        margin-top: 28px;
      }
    }
  }
  .marketing-content {
    padding: 130px 108px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 767px)  {
      padding: 80px 16px 0px;
      flex-direction: column;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      padding: 130px 24px 0px;
    }
    @media screen and (min-width: 1537px) {
      padding: 130px 300px 0px;
    }
    .marketing-description {
      display: flex;
      margin-top: 60px;
      @media screen and (max-width: 767px)  {
        width: 100%;
        margin-top: 48px;
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        width: 49%;
      }
      .img-text{
        font-style: normal;
        margin-left: 36px;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        align-items: start;
        @media screen and (max-width: 767px) {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
  .marketing-video {
    justify-content: center;
    background: #000 url("@/assets/pages/landing-page-AU/marketing-partner/bg-video.svg") no-repeat center top;
    background-size: 103%;
    margin-top: 128px;
    @media screen and (max-width: 767px) {
      background: #000 url("@/assets/pages/landing-page-AU/marketing-partner/bg-video-mobile.svg") no-repeat center top;
      margin-top: 72px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      margin-top: 72px;
    }
    @media screen and (min-width: 1537px) {
      background: #000 url("@/assets/pages/landing-page-AU/marketing-partner/bg-video-pc.svg") no-repeat center top;

    }
    .video {
      max-width: 1320px;
      min-height: 744px;
      margin: 121px 108px 128px;
      @media screen and (max-width: 767px) {
        margin: 32px 16px 40px;
        max-width: 343px;
        min-height: 193px;
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        max-width: -webkit-fill-available;
        min-height:404px;
        margin: 96px 40px 40px;
      }
      @media screen and (min-width: 1537px) {
        margin: 32px 300px 128px;
        max-width: 100%;
        min-height: 759px;
      }
    }
  }

}
</style>
