<template>
  <b-row class="seller">
    <b-col cols="12" class="font-semibold seller-title">
      Thousands of advertisers all over the world are working with us to solve their problems
    </b-col>
    <b-img
      class="image-pc"
      src="@/assets/pages/landing-page-AU/seller/working-with-us.png"
      fluid
    />
    <div class="image-mobile">
      <b-img
        v-for="(data, index) in imageMobile"
        :key="index"
        class="image"
        :src="data.img"
        fluid
      />
    </div>
  </b-row>
</template>
<script>
export default {
  name: 'PartnerSeller',
  components: {
  },
  data() {
    return {
      imageMobile: [
        {img: require('@/assets/pages/landing-page-AU/seller/1.png')},
        {img: require('@/assets/pages/landing-page-AU/seller/2.png')},
        {img: require('@/assets/pages/landing-page-AU/seller/3.png')},
        {img: require('@/assets/pages/landing-page-AU/seller/4.png')},
      ]
    }
  },
  methods:{

  }
}
</script>
<style lang="scss" scoped>
@media(max-width: 767px) {
  .image-pc {
    display: none;
  }
}
@media(min-width: 768px) {
  .image-mobile {
    display: none;
  }
}
.seller {
  margin: 83px 108px 129px;
  @media screen and (max-width: 767px) {
    margin: 45px 16px 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    margin: 83px 24px 129px;
  }
  @media screen and (min-width: 1537px) {
    margin: 83px 300px 129px;
  }
  .seller-title {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    @media screen and (max-width: 767px) {
      font-size: 40px;
      line-height: 48px;
    }
  }
  .image-pc {
    // max-width: 1320px;
    max-height: 900.56px;
    margin-top: 76px;
  }
  .image-mobile {
    margin-top: 24px;
    .image {
      margin-top: 32px;
    }
  }

}
</style>
