@font-face {
  font-family: 'proxima-nova-a';
  src: url('@/assets/fonts/ProximaNovaA-Medium.ttf') format('truetype'),
}
@font-face {
  font-family: 'proxima-nova-a-regular';
  src: url('@/assets/fonts/ProximaNovaA-Regular.ttf') format('truetype'),
}
@font-face {
  font-family: 'proxima-nova-a-bold';
  src: url('@/assets/fonts/ProximaNovaA-Semibold.ttf') format('truetype'),
}
html{
  font-family: "proxima-nova-a", sans-serif;
  font-size: 16px;
  color: #000;

}

body{
 margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x: hidden;
}

.font-regular {
  font-family: "proxima-nova-a-regular", sans-serif;
}
.font-semibold {
  font-family: "proxima-nova-a-bold", sans-serif;
}
.text-center {
  text-align: center;
}
p {
  margin: 0px;
}
