<template>
  <div class="header-content">
    <div v-if="show" class="header-text">
      <p class="header-title text-center font-semibold">
        Ecomdy Media - The best official TikTok Agency for Ecommerce.
      </p>
      <p class="header-description text-center">
        We help scale your brands with Tiktok marketing and advertising by utilising the viral growth, TikTok advertising platform and the ability to get your business in front of millions.
      </p>
      <div class="button-demo">
        <b-button
          class="btn-start"
          style="background-color: #E11C4E;">
          Getting Started
        </b-button>
        <b-button
          class="btn-demo"
          variant="outline-dark"
          style="border-color: #fff;">
          Request a demo
        </b-button>
      </div>
      <div
        class="play-video"
        @click="show= false">
        <b-img
          src="@/assets/pages/landing-page-AU/icons/btn-play.svg"
          fluid
        />
        <p class="font-regular">Play</p>
      </div>
    </div>
    <div v-else>
      <video width="100%" height="auto" controls autoplay @pause="show = true">
      <source src="@/assets/video/video-ads.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    </div>
  </div>
</template>
<script>
export default {
  name: 'HeaderContent',
  components: {
  },
  data() {
    return {
      show: true,
    }
  },
  methods:{

  }
}
</script>
<style lang="scss" scoped>
.header-content {
  padding: 179px 248px;
  .header-text {
    .header-title {
      font-size: 64px;
      line-height: 112%;
    }
    .header-description {
      margin: 24px 105.5px 0px;
      font-size: 24px;
      line-height: 167%;
    }
    .button-demo {
      display: flex;
      justify-content: center;
      gap: 12px;
      margin-top: 48px;
      .btn {
        color: #fff;
        font-size: 18px;
        line-height: 28px;
        padding: 15px 43px;
        border-radius: 100px;
        .btn-start {
          background-color: #E11C4E;
        }
        .btn-demo {

        }
      }
    }
    .play-video {
      margin-top: 48px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    .play-video:hover {
      cursor: pointer;
    }
  }
}

@media(max-width: 740px){/*739px*/
  .header-content {
    max-width: 1320px;
    padding: 81px 18px 62px 13px;
    .header-text {
      .header-title {
        font-size: 48px;
        line-height: 112%;
      }
      .header-description {
        margin: 0px;
        font-size: 18px;
        line-height: 160%;
      }
      .button-demo {
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: row;
        .btn {
          width: max-content;
        }
      }
    }
  }

}
</style>
