<template>
  <div class="header">
      <div class="header-top">
        <div class="header-top-pc">
          <div class="header-logo">
            <b-img
              src="@/assets/pages/landing-page-AU/logo/ecomdy-media.svg"
              fluid
            />
          </div>
          <div class="header-right">
            <button class="btn btn-login">Login</button>
            <button class="btn btn-join">Join now</button>
          </div>
        </div>
        <div class="header-top-mobile">
          <div class="header-logo">
            <b-img
              class="logo-ecomdy"
              src="@/assets/pages/landing-page-AU/logo/ecomdy-media-partner.svg"
              fluid
            />
            <b-img
              class="logo-ecomdy"
              src="@/assets/pages/landing-page-AU/icons/icon-menu.svg"
              fluid
            />
          </div>
          <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.1);">
          <b-img
              src="@/assets/pages/landing-page-AU/logo/tiktok.svg"
              fluid
            />
        </div>

        <div  class="header-content">
          <div v-if="show" class="video">
            <video
              class="background-video"
              playsinline autoplay muted loop
            >
              <source src="@/assets/video/video-ads.webm" type="video/webm">
              <source src="@/assets/video/video-ads.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div
              class="play-video pause"
              @click="show = false">
              <b-img
                src="@/assets/pages/landing-page-AU/icons/btn-pause.svg"
                fluid
              />
              <p class="font-regular">Pause</p>
            </div>
          </div>
          <div v-else class="header-text">
            <p class="header-title text-center font-semibold">
              Ecomdy Media - The best official TikTok Agency for Ecommerce.
            </p>
            <p class="header-description text-center">
              We help scale your brands with Tiktok marketing and advertising by utilising the viral growth, TikTok advertising platform and the ability to get your business in front of millions.
            </p>
            <div class="button-demo">
              <b-button
                class="btn-start"
                style="background-color: #E11C4E;">
                Getting Started
              </b-button>
              <b-button
                class="btn-demo"
                variant="outline-dark"
                style="border-color: #fff;">
                Request a demo
              </b-button>
            </div>
            <div
              class="play-video"
              @click="show= true">
              <b-img
                src="@/assets/pages/landing-page-AU/icons/btn-play.svg"
                fluid
              />
              <p class="font-regular">Play</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  name: 'HeaderPage',
  components: {

  },
  data() {
    return {
      show: true,
    }
  },
}
</script>
<style lang="scss" scoped>
.noi_dung {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: CornflowerBlue;
  text-transform: uppercase;
  letter-spacing: 1vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
}

.header {
  background-color: #000;
  height: max-content;
  color: #fff;
  .header-top {
    text-align: center;
    display: flex;
    justify-content: space-between;
    .header-top-pc {
      position: fixed;
      z-index: 1;
      width: 100%;
    }
  }
  .video {
      height: 100vh;
      .background-video{
        position: absolute;
        /* Span the full grid */
        grid-area: var(--fullGrid);
        /* Re-size video to cover full screen while maintaining aspect ratio */
        min-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }

      @keyframes mouse{
        0%,20%,50%,80%,100%{
          transform:translateY(85vh);
          -webkit-transform:translateY(85vh);
          -ms-transform:translateY(85vh);
          -o-transform:translateY(85vh);
          -moz-transform:translateY(85vh)
          }
          40%{
            transform:translateY(70vh);
            -webkit-transform:translateY(70vh);
            -ms-transform:translateY(70vh);
            -o-transform:translateY(70vh);
            -moz-transform:translateY(70vh)
          }
          60%{
            transform:translateY(75vh);
            -webkit-transform:translateY(75vh);
            -ms-transform:translateY(75vh);
            -o-transform:translateY(75vh);
            -moz-transform:translateY(75vh)
          }
        }
      .pause {
        animation: mouse 3s infinite;
        //  transform: translateY(-65px);
        position: absolute;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        width: 100%;
      }
      .pause:hover {
        cursor: pointer;
      }
  }
}
  .header-top-mobile {
      display: none;
    }
  .header-top-pc {
    padding: 37px 108px;
    display: flex;
    justify-content: space-between;
    .header-logo {

    }
    .header-right {
      .btn {
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        padding: 9px 34.5px;
        border-radius: 100px;
        gap: 10px;
      }
      .btn-login {
      }
      .btn-join {
        background-color: #353535;
      }
    }
  }

  @media(max-width: 740px){/*739px*/
    .header-top-pc {
      display: none;
    }
    .header-top-mobile {
      display: block;
      padding: 29px 16px 0px;
      .header-logo {
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 0px;
        gap: 15px;
      }
    }
}

.header-content {
  height: max-content;
  .header-text {
    padding: 179px 248px;
    .header-title {
      font-size: 64px;
      line-height: 112%;
    }
    .header-description {
      margin: 24px 105.5px 0px;
      font-size: 24px;
      line-height: 167%;
    }
    .button-demo {
      display: flex;
      justify-content: center;
      gap: 12px;
      margin-top: 48px;
      .btn {
        color: #fff;
        font-size: 18px;
        line-height: 28px;
        padding: 15px 43px;
        border-radius: 100px;
        .btn-start {
          background-color: #E11C4E;
        }
        .btn-demo {

        }
      }
    }
    .play-video {
      margin-top: 48px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    .play-video:hover {
      cursor: pointer;
    }
  }
}
@media(max-width: 740px){/*739px*/
  .header-content {
    max-width: 1320px;
    padding: 81px 18px 62px 13px;
    .header-text {
      .header-title {
        font-size: 48px;
        line-height: 112%;
      }
      .header-description {
        margin: 0px;
        font-size: 20px;
        line-height: 160%;
      }
      .button-demo {
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: row;
        .btn {
          width: max-content;
        }
      }
    }
  }

}
</style>
