<template>
  <div id="body">
    <partner-seller />
    <problem-content />
    <about-us />
    <marketing-partner />
    <evaluation-content />

  </div>
</template>

<script>
import partnerSeller from './seller/partner-seller.vue'
import problemContent from './problem/problem.vue'
import aboutUs from './about-us/about-us.vue'
import marketingPartner from './marketing-partner/marketing-partner.vue'
import evaluationContent from './evaluation/evaluation.vue'

export default {
  name: 'BodyContent',

  components: {
    partnerSeller,
    problemContent,
    aboutUs,
    marketingPartner,
    evaluationContent,
  },

  data(){
    return {
    }
  },

  methods: {
  },
}
</script>

<style lang="scss" scoped>

</style>
